<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mapper.PrizeMapper">

    <insert id="add">
        insert into prize (content, url) VALUE (#{content} , #{url})
    </insert>
    <update id="update">
        update prize
        <set>
            <if test="content != null">content = #{content},</if>
            url = #{url}
        </set>
        where id = #{id}
    </update>
    <select id="getUrl" resultType="java.lang.String">
        select url from prize where id = #{id}
    </select>
</mapper>
